examples/pkcs-keyop/pkcs-keyop
examples/pkcs-key-provision/pkcs-key-provision
examples/hse-sysimg/hse-sysimg
examples/hse-encrypt/hse-encrypt
examples/hse-secboot/hse-secboot
examples/trustzone-key-provision/target/hse-kek-provision
*.so*
libhse/obj
libpkcs/obj
out/*
