examples/pkcs-keyop/pkcs-keyop
examples/pkcs-key-provision/pkcs-key-provision
examples/hse-sysimg/hse-sysimg
examples/hse-encrypt/hse-encrypt
examples/hse-secboot/hse-secboot
*.so*
libhse/obj
libpkcs/obj
